{% extends "base.html" %}
{% load l10n i18n places_finder %}

{% block title %}{{ object.name }}{% if object.city %} - {{ object.city }}{% endif %}{% endblock title %}

{% block content %}
<h1>{{ object.name }}
  {% if object.city %}<small>{{ object.city }}</small>{% endif %}
</h1>

<p>
  {% if request.user == object.user %}
  <strong>Vous êtes l'auteur de ce lieu !</strong>
  {% endif %}
</p>

<p>
  <small>Publié le {{ object.added_on|date:"d F Y"}}</small> &mdash;
  <span class="label {% if object.is_public %}label-success">Public{% else %}label-warning">Privé{% endif %}</span> &mdash;
  <small>
    Classé sous
    
	  <a class="label label-info" href="/">Parc</a>
	  <a class="label label-info" href="/">Publique</a>
  </small>
</p>

{{ object.description }}

<ul class="list-group navlist">
  <li class="list-group-item navtitle">{% trans "Informations" %}</li>
  <li class="list-group-item">Ajouté par <a href="{% url "places-user-list" object.user.username %}"><i class="icon-user"></i> {{ object.user }}</a></li>
  <li class="list-group-item"><i class="icon-globe"></i> GPS: <strong>{{ object.position.y|stringformat:"02f"}}</strong>, <strong>{{ object.position.x|stringformat:"02f"}}</strong></li>
</ul>

<hr />
<h5>Lieux proches</h5>
<p>
{% for place in nearby %}
<a href="{{ place.get_absolute_url }}">{{ place }}</a> &mdash; {{ place.distance.km|floatformat }}km<br />
{% endfor %}
</p>
{% endblock content %}