{% extends "base.html" %}
{% load i18n l10n places_finder static %}

{% block title %}Spots - Où shooter{% endblock title %}

{% block menu_spots %}class="active"{% endblock %}

{% block content %}
<div class="page-header">
  <h1>Spots
    <small>Où shooter</small>
  </h1>
</div>

<div class="row">
  <div class="col-md-9">
    <div class="row">
      <div class="col-md-12">
        <div id="map" style="height: 500px;"></div>
      </div>
    </div>
    <div class="row">
      {% for object in object_list %}
      {% empty %}
      <div class="col-md-12">
        <p>{% trans "No available places" %}</p>
      </div>
      {% endfor %}
    </div>
    
  </div>
  <div class="col-md-3">
    
      {% include "places/partials/menu.html" %}
    <hr/>
    <h5>Légende</h5>
    <p>
      <img src="{% static "img/marker-photo-green.png" %}" width="32" height="32" /> lieu public<br/>
      <img src="{% static "img/marker-photo-red.png" %}" width="32" height="32" /> lieu privé
    </p>
  </div>
</div>
{% endblock content %}

{% block extra_tail %}
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.0rc1/angular.min.js"></script>
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
<script type="text/javascript" src="{% static "js/bootstrap-datetimepicker.js" %}"></script>
<script type="text/javascript" src="{% static "js/locales/bootstrap-datetimepicker.fr.js" %}"></script>
<script type="text/javascript" src="{% static "js/typeahead.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/gmaps.js" %}"></script>
<script type="text/javascript" src="{% static "js/markerclusterer.js" %}"></script>
<script type="text/javascript" src="{% static "js/jquery.cookie.js" %}"></script>
<script type="text/javascript" src="{% static "js/ajax_setup.js" %}"></script>
<script type="text/javascript" src="{% static "js/shooting.js" %}"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/js/bootstrap-editable.min.js"></script>
<script type="text/javascript">
  $(document).ready(function() {
    var map = new GMaps({
      div: '#map',
      {% if center %}
      lat: {{ center.y|unlocalize }},
      lng: {{ center.x|unlocalize }},
      {% else %}
      lat: 7,
      lng: 47,
      {% endif %}
      zoom: 5,
      markerClusterer: function(map) {
       return new MarkerClusterer(map);
      }
    });
    {% for object in object_list %}
    map.addMarker({
      lat: {{ object.position.y|unlocalize }},
      lng: {{ object.position.x|unlocalize}},
      title: '{{ object.name|escapejs }}',
      {% if object.is_public %}
      icon: '{% static "img/marker-photo-green.png" %}',  
      {% else %}
      icon: '{% static "img/marker-photo-red.png" %}',
      {% endif %}
      infoWindow: {
       content: '<a href="{{ object.get_absolute_url }}">{{ object.name }}{% if object.city %}, {{ object.city }}{% endif %}</a>'
      }
    });
    map.fitZoom()
    {% endfor %}
    
  });
</script>
{% endblock extra_tail %}